* {
  -moz-box-sizing: border-box;
       box-sizing: border-box;
}

.it-calculator {
  font-family: 'Assistant', sans-serif;
  font-weight: normal;
  font-style: normal;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  width: 100%;
  max-width: 100%;
  -moz-box-sizing: border-box;
       box-sizing: border-box;
  font-size: 15px;
  background-image: url("../img/page-bg-1.jpg");
  background-attachment: fixed;
  background-size: cover;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 30px 0 45px 0;
  direction: rtl;
  text-align: right;
}
.it-calculator * {
  -moz-box-sizing: border-box;
       box-sizing: border-box;
}
.it-calculator__container {
  width: 100%;
  max-width: 100%;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}
@media only screen and (min-width: 576px) {
  .it-calculator__container {
    max-width: 570px;
  }
}
@media only screen and (min-width: 768px) {
  .it-calculator__container {
    max-width: 720px;
  }
}
@media only screen and (min-width: 992px) {
  .it-calculator__container {
    max-width: 960px;
  }
}
@media only screen and (min-width: 1200px) {
  .it-calculator__container {
    max-width: 1365px;
  }
}
.it-calculator__icon--chevron-down {
  background-image: url("../img/chevron-down-light.svg");
  width: 22px;
  height: 25px;
}
.it-calculator__icon--chevron-down-black {
  background-image: url("../img/chevron-down-light.svg");
  width: 22px;
  height: 25px;
}
@media only screen and (min-width: 768px) {
  .it-calculator__icon--chevron-down-black {
    background-image: url("../img/chevron-down-light-black.svg");
  }
}
.it-calculator__icon--tik {
  background-image: url("../img/tik.png");
  width: 30px;
  height: 27px;
  background-size: 100%;
}
.it-calculator__title {
  margin: 0;
  padding: 45px 0;
  text-align: center;
  color: #fff;
  font-size: 34px;
  line-height: 1.2;
}
.it-calculator__content {
  width: 100%;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
}
@media only screen and (min-width: 1200px) {
  .it-calculator__content {
    -webkit-flex-wrap: nowrap;
        -ms-flex-wrap: nowrap;
            flex-wrap: nowrap;
  }
}
.it-calculator__content-form {
  width: 100%;
  padding: 15px;
}
@media only screen and (min-width: 1200px) {
  .it-calculator__content-form {
    width: calc(100% / 12 * 7);
  }
}
.it-calculator__content-form form {
  width: 100%;
  padding: 0;
  margin: 0;
}
.it-calculator__content-info {
  width: 100%;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}
@media only screen and (min-width: 1200px) {
  .it-calculator__content-info {
    width: calc(100% / 12 * 7);
  }
}
.it-calculator__content-title {
  color: #fff;
  font-size: 22px;
  margin-bottom: 20px;
  text-align: center;
}
@media only screen and (min-width: 768px) {
  .it-calculator__content-title {
    text-align: right;
  }
}
.it-calculator__content-raw {
  width: 100%;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
}
@media only screen and (min-width: 768px) {
  .it-calculator__content-raw {
    -webkit-flex-wrap: nowrap;
        -ms-flex-wrap: nowrap;
            flex-wrap: nowrap;
  }
  .it-calculator__content-raw--top .it-calculator__content-raw-title {
    border-top-right-radius: 10px;
  }
  .it-calculator__content-raw--top .it-calculator__content-raw-data {
    border-top-left-radius: 10px;
  }
  .it-calculator__content-raw--bottom .it-calculator__content-raw-title {
    border-bottom-right-radius: 10px;
  }
  .it-calculator__content-raw--bottom .it-calculator__content-raw-data {
    border-bottom-left-radius: 10px;
  }
  .it-calculator__content-raw:nth-child(2n+1) .it-calculator__content-raw-title {
    background: #88b7d2;
  }
  .it-calculator__content-raw:nth-child(2n+1) .it-calculator__content-raw-title--number {
    color: #000000;
  }
  .it-calculator__content-raw:nth-child(2n+1) .it-calculator__content-raw-title p {
    color: #000000;
  }
  .it-calculator__content-raw:nth-child(2n+1) .it-calculator__content-raw-data {
    background: #fefefed4;
  }
}
.it-calculator__content-raw-title {
  position: relative;
  background: #245164;
  padding: 15px;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  line-height: 1.2;
}
@media only screen and (min-width: 768px) {
  .it-calculator__content-raw-title {
    width: 225px;
  }
}
.it-calculator__content-raw-title--number {
  position: absolute;
  right: 0;
  height: 100%;
  background: #89B8D2;
  width: 25%;
  border-radius: 70% 0 0 70%;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  top: 0;
  bottom: 0;
  font-size: 34px;
  color: #fff;
}
@media only screen and (min-width: 768px) {
  .it-calculator__content-raw-title--number {
    display: block;
    position: static;
    background: transparent;
    display: block;
    font-weight: 700;
    line-height: 1;
    margin-bottom: 2px;
    border-radius: 0;
    height: auto;
  }
}
.it-calculator__content-raw-title p {
  color: #fff;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.2;
  margin: 0;
  padding: 5px 0;
}
@media only screen and (max-width: 767px) {
  .it-calculator__content-raw-title p br {
    display: none;
  }
}
.it-calculator__content-raw-data {
  background: rgba(255, 255, 255, 0.949);
  padding: 30px;
  padding-bottom: 20px;
  width: 100%;
}
@media only screen and (min-width: 768px) {
  .it-calculator__content-raw-data {
    width: calc(100% - 225px);
  }
}
.it-calculator__passenger {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 15px;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
}
.it-calculator__passenger:last-child .it-calculator__passenger-delete {
  display: none;
}
.it-calculator__passenger:last-child .it-calculator__passenger-add {
  display: block;
}
.it-calculator__passenger label {
  width: 100%;
  padding-right: 43px;
  padding-bottom: 5px;
}
@media only screen and (min-width: 768px) {
  .it-calculator__passenger label {
    width: 70px;
    padding-bottom: 0;
    padding-right: 0;
  }
}
.it-calculator__passenger-button {
  width: 38px;
  height: 38px;
  border: 0;
  border-radius: 5px;
  padding: 0;
  cursor: pointer;
}
.it-calculator__passenger-empty-button {
  display: inline-block;
  width: 38px;
  height: 38px;
}
.it-calculator__passenger-add {
  display: none;
  background: #7ac943 url("../img/plus-light.svg") center center no-repeat;
  background-size: 50%;
}
.it-calculator__passenger-delete {
  background: #ff1c24 url("../img/times-light.svg") center center no-repeat;
  background-size: 40%;
}
.it-calculator__passenger-input, .it-calculator__travel-date-input {
  height: 38px !important;
  border: 1px #9d9d9d solid;
  text-align: right;
  line-height: 38px;
  font-size: 15px;
  color: #4d4d4d;
  max-width: 190px;
  padding: 0 12px;
  background-color: #ffffff;
  border-radius: 5px;
  margin-right: 5px;
}
.it-calculator__options-list {
  padding-right: 43px;
}
@media only screen and (min-width: 768px) {
  .it-calculator__options-list {
    padding-right: 113px;
  }
}
.it-calculator__options-list-item {
  position: relative;
  padding-bottom: 15px;
}
.it-calculator__options-checkbox {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-flex-wrap: nowrap;
      -ms-flex-wrap: nowrap;
          flex-wrap: nowrap;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}
.it-calculator__options-checkbox input[type="checkbox"] {
  display: none;
}
.it-calculator__options-checkbox.checked .it-calculator__options-checkbox-checkmark {
  background-color: #7ac943;
  border-color: #7ac943;
}
.it-calculator__options-checkbox.checked .it-calculator__options-checkbox-checkmark::after {
  position: absolute;
  display: block;
  content: '';
  left: 10px;
  top: 2px;
  width: 8px;
  height: 16px;
  border: solid #ffffff 2px;
  border-width: 0px 2px 2px 0;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}
.it-calculator__options-checkbox-label {
  font-size: 18px;
  padding-right: 30px;
}
.it-calculator__options-checkbox-checkmark {
  position: relative;
  display: inline-block;
  height: 30px;
  width: 30px;
  border: solid #808080 1px;
  border-radius: 5px;
  cursor: pointer;
}
.it-calculator__bottom-title {
  color: #fff;
  font-size: 22px;
  text-align: center;
  width: 100%;
}
@media only screen and (min-width: 768px) {
  .it-calculator__bottom-title {
    text-align: right;
    padding-right: 15px;
  }
}
.it-calculator__tooltip {
  position: absolute;
  left: 0;
  top: 6px;
  display: inline-block;
  background: transparent url("../img/question-circle-light.svg") center center no-repeat;
  width: 18px;
  height: 18px;
  background-size: 100%;
  cursor: pointer;
}
.it-calculator__results {
  display: none;
  width: 50%;
  padding: 15px;
  color: #ffffff;
}
@media only screen and (min-width: 768px) {
  .it-calculator__results {
    display: block;
  }
}
.it-calculator__results-inner {
  background: #131c24b3;
  border-radius: 10px;
  padding: 30px;
}
.it-calculator__companies {
  width: 100%;
  padding: 15px;
}
@media only screen and (min-width: 586px) {
  .it-calculator__companies {
    width: 80%;
  }
}
@media only screen and (min-width: 768px) {
  .it-calculator__companies {
    width: 50%;
  }
}
.it-calculator__companies-inner {
  background: #131c24;
  border-radius: 10px;
  padding: 15px;
}
.it-calculator__results-list {
  border-bottom: solid #ffffff 1px;
  padding-top: 30px;
}
.it-calculator__results-list:first-child {
  padding-top: 0;
}
.it-calculator__results-list:last-child {
  border-bottom: 0;
}
.it-calculator__results-heder {
  font-size: 18px;
  margin: 0;
  padding: 0 0 15px 0;
  color: #ffffff;
}
.it-calculator__results-list-item {
  padding-right: 23px;
  padding-bottom: 20px;
}
.it-calculator__results-passenger {
  background: transparent url("../img/ic-1.svg") right top no-repeat;
  background-size: 16px;
}
.it-calculator__results-destination {
  background: transparent url("../img/ic-2.svg") right top no-repeat;
  background-size: 16px;
}
.it-calculator__results-arival-date {
  background: transparent url("../img/ic-3.svg") right 3px no-repeat;
  background-size: 18px;
}
.it-calculator__results-return-date {
  background: transparent url("../img/ic-4.svg") right 3px no-repeat;
  background-size: 18px;
}
.it-calculator__results-option {
  background: transparent url("../img/ic-5.svg") right 2px no-repeat;
  background-size: 16px;
}
.it-calculator__company {
  background: #fff;
  border-radius: 10px;
  padding: 10px;
  margin-top: 15px;
}
.it-calculator__company:first-child {
  margin-top: 0;
}
.it-calculator__company-logo-and-price {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-flex-wrap: nowrap;
      -ms-flex-wrap: nowrap;
          flex-wrap: nowrap;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.it-calculator__company-price {
  font-size: 16px;
  width: 40%;
  text-align: center;
}
.it-calculator__company-logo {
  max-width: 50%;
  height: 40px;
}
.it-calculator__company-direct-link {
  display: block;
  background: linear-gradient(to right, #87b6d1, #16628a);
  text-align: center;
  margin-top: 10px;
  padding: 7px;
  color: #fff;
  border-radius: 5px;
  font-weight: 700;
  text-decoration: none;
}
.it-calculator__company-representative-link {
  display: block;
  text-align: center;
  margin-top: 10px;
  padding: 7px;
  background: linear-gradient(to right, #f89120, #f25B24);
  color: #fff;
  border-radius: 5px;
  font-weight: 700;
  text-decoration: none;
}
